table, tr, td, th {
    border: 1px solid black;
}

tr:nth-child(2n) {
    background: rgb(221, 221, 221);

}

div {
    margin-top: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
}

div>form>input {
    margin-top: 10px;
}